html {
 /* background-image:url("1.jpg"); */
 background-color:black;
 height:100%;
 background-size:cover;
 color: white;
   font-family:FrankRuehl;
   font-size: 20px;
}
table {
  text-align: center;
  height: 300px;
  width: 350px;
padding: 50px;

}
h1 {
text-align: center;
font-family:FrankRuehl;

}
