<<<<<<< HEAD
/*html {*/
 /*!* background-image:url("3.png"); *!*/
 /*background-color:black;*/
 /*height:100%;*/
 /*color: white;*/
 /*background-position: center;*/
 /*background-repeat: no-repeat;*/
 /*background-size: cover;*/
 /*background-attachment: fixed;*/
   /*font-family:FrankRuehl;*/
   /*font-size: 20px;*/
/*}*/
=======
html {
 /* background-image:url("3.png"); */
 background-color:black;
 height:100%;
 color: white;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
   font-family:FrankRuehl;
   font-size: 20px;
}
>>>>>>> 2f3a766d6aa73f5a2881dd3aea9183c9734aed4c
table {
  text-align: center;
  height: 300px;
  width: 350px;
padding: 50px;

}
h1 {
text-align: center;
font-family:FrankRuehl;

}
