html {
 background-image:url("3.png");
 /* background-color: black; */
 height:100%;
 background-size:cover;
 color: white;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}
h1 {
  text-align: center;
}
