html {

<<<<<<< HEAD
    background-image: url("3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: black; */
    height: 100%;
    /* background-repeat:repeat; */
=======
   background-image: url("3.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
  /* background-color: black; */
    height: 100%;
   /* background-repeat:repeat; */
>>>>>>> 2f3a766d6aa73f5a2881dd3aea9183c9734aed4c
    color: white;
    font-family: FrankRuehl;

}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;

    border-bottom: 80px solid red;
    /*border-color: transparent;*/
    background-color: transparent;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;

    border-top: 80px solid red;
}

.class {
    float: left;
    width: 33.33%;
    padding: 5px;
}

img {
    border-radius: 10%;
}

button {
    background: black;
    margin: 50px;
}

table {
    text-align: center;
}

.triangle-up, .triangle-down {
    position: relative;
    background-color: white;
    /*opacity: 0.7;*/
    text-align: left;
}

.triangle-up:before,
.triangle-down:before,
.triangle-up:after,
.triangle-down:after {
    content: '';
    position: absolute;
    background-color: inherit;
}

.triangle-up,
.triangle-down,
.triangle-up:before,
.triangle-down:before,
.triangle-up:after,
.triangle-down:after {
    width: 7em;
    height: 7em;
    border-top-right-radius: 30%;
    background-color: #300303;

}

.triangle-down {
    transform: rotate(0deg) skewX(-30deg) scale(1, .866);
    margin-left: 100px;

}

.triangle-up {
    transform: rotate(180deg) skewX(-30deg) scale(1, .866);
    margin-top: 150px;

}

.triangle-up:before, .triangle-down:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

.triangle-up:after, .triangle-down:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

.triangle-up, .triangle-down {
    filter: drop-shadow(20px 20px 20px rgb(0, 0, 0));
    -webkit-filter: drop-shadow(20px 20px 20px rgb(0, 0, 0));
}