* {
    box-sizing: border-box;
}

td {
    font-family: FrankRuehl;
    font-size: 30px;
}

.mainMenuButton {
    border: solid 3px #0a0401;
    border-radius: 8px;
    moz-border-radius: 8px;
    -webkit-box-shadow: 1px 6px 0px rgba(0, 0, 0, 1.0);
    -moz-box-shadow: 1px 6px 0px rgba(0, 0, 0, 1.0);
    box-shadow: 1px 6px 0px rgba(0, 0, 0, 1.0);
    font-size: 20px;
    color: #ffffff;
    padding: 11px 20px;
    background: #300303;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #300303), color-stop(100%, #6e0404), color-stop(35%, #ff7a7a), color-stop(100%, #b5543e));
    background: -moz-linear-gradient(top, #300303 0%, #6e0404 100%, #ff7a7a 35%, #b5543e 100%);
    background: -webkit-linear-gradient(top, #300303 0%, #6e0404 100%, #ff7a7a 35%, #b5543e 100%);
    background: -o-linear-gradient(top, #300303 0%, #6e0404 100%, #ff7a7a 35%, #b5543e 100%);
    background: -ms-linear-gradient(top, #300303 0%, #6e0404 100%, #ff7a7a 35%, #b5543e 100%);
    background: linear-gradient(top, #300303 0%, #6e0404 100%, #ff7a7a 35%, #b5543e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#300303', endColorstr='#b5543e', GradientType=0);

    vertical-align: middle;
    width: 100%;
    height: 120px;
    border-radius: 12px;
    margin: 10px;
    font-family: FrankRuehl;
    font-weight: bold;

}

@media only screen and (min-width: 600px) {
    .outer {
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .name-form {
        /*vertical-align: middle;*/
        /*align-items: center;*/

        margin-left: 40%;
    }

    #Registration {
        padding: 200px 0px 0px 0px;
        font-family: FrankRuehl;
        font-weight: 200;
        width: 400px;
        text-align: center;
        margin: 0 auto;
        font-size: 40px;
        color: black;
        color: white;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 600px) {
    .outer {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    .name-form {
        margin-left: 15%;
    }

    #Registration {
        padding: 200px 0px 0px 0px;
        font-family: FrankRuehl;
        font-weight: 200;
        /* width: 400px; */
        text-align: center;
        margin: auto;
        font-size: 40px;
        color: black;
        color: white;
    }
