body {
    background-image: url("../assets/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



div {
    text-align: center;
}



.autors-img {
    border-radius: 50%;
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    border-right: 1px solid black;
}

li {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: silver;
}

.active {
    background-color: silver;
}

p {
    color: white;
}

.carousel-customization {
    width: 50%;
}

.center {
  margin: auto;
  width: 50%;
}
